version: '3.8'

services:
  api:
    build: 
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=intuitive_care
    depends_on:
      - db
    command: >
      sh -c "pip install pymysql && pip install -r requirements.txt && python api/main_api.py"

  web-app:
    build:
      context: ./web-app      
      dockerfile: Dockerfile  
    ports:
      - "8080:80"
    volumes:
      - ./web-app:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5000
    depends_on:
      - api
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: intuitive_care
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: